{% extends 'base_layout.html' %} {%block content%}
<h1>Placement Drives</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <div class="card text-white bg-success m-3">
        <div class="card-header fw-bolder">Reliance Industries Ltd.</div>
        <div class="card-body">
          <p class="card-text fw-normal">
            <strong>Contact person : </strong>Kanak Singh
          </p>
          <p class="card-text fw-normal">
            <strong>Contact email : </strong>kanak.singh@gmail.com
          </p>
          <p class="card-text fw-normal">
            <strong>Applicable Course : </strong>B.Tech (CS)
          </p>
          <p class="card-text fw-normal">
            <strong>Attendance Criteria : </strong>No
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card text-white bg-primary m-3">
        <div class="card-header fw-bolder">Devslane</div>
        <div class="card-body">
          <p class="card-text fw-normal">
            <strong>Contact person : </strong>Pallavi Sharma
          </p>
          <p class="card-text fw-normal">
            <strong>Contact email : </strong>pallavi.sharma@gmail.com
          </p>
          <p class="card-text fw-normal">
            <strong>Applicable Course : </strong>B.Tech (CS)
          </p>
          <p class="card-text fw-normal">
            <strong>Attendance Criteria : </strong>75%
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card text-white bg-primary m-3">
        <div class="card-header fw-bolder">Toothsi</div>
        <div class="card-body">
          <p class="card-text fw-normal">
            <strong>Contact person : </strong>kumkum Singh
          </p>
          <p class="card-text fw-normal">
            <strong>Contact email : </strong>kumkum.singh@gmail.com
          </p>
          <p class="card-text fw-normal">
            <strong>Applicable Course : </strong>B.Tech (CS)
          </p>
          <p class="card-text fw-normal">
            <strong>Attendance Criteria : </strong>80%
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card text-white bg-primary m-3">
        <div class="card-header fw-bolder">Accenture</div>
        <div class="card-body">
          <p class="card-text fw-normal">
            <strong>Contact person : </strong>Kirti Mishra
          </p>
          <p class="card-text fw-normal">
            <strong>Contact email : </strong>kirti.mishra@gmail.com
          </p>
          <p class="card-text fw-normal">
            <strong>Applicable Course : </strong>B.Tech (CS)
          </p>
          <p class="card-text fw-normal">
            <strong>Attendance Criteria : </strong>75%
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card text-white bg-primary m-3">
        <div class="card-header fw-bolder">Jhonson Controls</div>
        <div class="card-body">
          <p class="card-text fw-normal">
            <strong>Contact person : </strong>Chiitra Singh
          </p>
          <p class="card-text fw-normal">
            <strong>Contact email : </strong>chittra.singh@gmail.com
          </p>
          <p class="card-text fw-normal">
            <strong>Applicable Course : </strong>B.Tech (CS)
          </p>
          <p class="card-text fw-normal">
            <strong>Attendance Criteria : </strong>No
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card text-white bg-primary m-3">
        <div class="card-header fw-bolder">Tata Consultancy Services Ltd.</div>
        <div class="card-body">
          <p class="card-text fw-normal">
            <strong>Contact person : </strong>Saurabh Goyal
          </p>
          <p class="card-text fw-normal">
            <strong>Contact email : </strong>saurav.goyal@gmail.com
          </p>
          <p class="card-text fw-normal">
            <strong>Applicable Course : </strong>B.Tech (CS)
          </p>
          <p class="card-text fw-normal">
            <strong>Attendance Criteria : </strong>No
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
